*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header-band{
	height: 50px;
	margin-top: auto;
	background-color: #ff9a4b;
}

.steps{
	padding: 50px 0 50px 0;
	display: flex;
	justify-content: center;
}

.step{
	width: 300px;
	background-color: #EEEEEE;
	position: relative;
	padding: 10px;
}

.step-No{
	color: white;
	background-color: #ff9a4b;
	position: absolute;
	top: 0;
	left: 0;
}

.step:nth-child(1),
.step:nth-child(2){
	margin-right: 30px;
}

.step1-img{
	height: 150px;
	background-image: url(img/flow01.png);
	background-size: cover;
	background-position: bottom;
}

.step2-img{
	height: 150px;
	background-image: url(img/flow02.png);
	background-size: cover;
	background-position: bottom;
}

.step3-img{
	height: 150px;
	background-image: url(img/flow03.png);
	background-size: cover;
	background-position: bottom;
}

.title{
	margin:15px 0 5px;
}

.fotter-band{
	height: 50px;
	margin-bottom: auto;
	background-color: #AAAAAA;
}

@media screen and (max-width:768px){
	.steps{
		width: 100%;
		display: block;
	}

	.step{
		width: 90%;
		margin: 0 auto 20px;
	}

	.step:nth-child(1),
	.step:nth-child(2){
		margin-right: auto;
	}

	
}